<ul>
  <!-- ZONES -->
  <li (click)="toggleMenu(EntityType.ZONES)">


    <div class="content">
      <div class="image-and-name">
        <img src="zone.svg" alt="zone-icon">
        <span>Zones</span>
      </div>
      <div class="controls">
        <i *ngIf="!isMenuOpen[EntityType.ZONES]" class="arrow-down"></i>
        <i *ngIf="isMenuOpen[EntityType.ZONES]" class="arrow-up"></i>
      </div>
    </div>

    <!-- RESULTS CONTAINER -->
    <ng-container *ngIf="isMenuOpen[EntityType.ZONES]">
      <ng-container *ngTemplateOutlet="data"></ng-container>
    </ng-container>
  </li>

  <!-- SITES -->
  <li (click)="toggleMenu(EntityType.SITES)">

    <div class="content">
      <div class="image-and-name">
        <img src="site.svg" alt="site-icon">
        <span>Sites</span>
      </div>
      <div class="controls">
        <i *ngIf="!isMenuOpen[EntityType.SITES]" class="arrow-down"></i>
        <i *ngIf="isMenuOpen[EntityType.SITES]" class="arrow-up"></i>
      </div>
    </div>

    <!-- RESULTS CONTAINER -->
    <ng-container *ngIf="isMenuOpen[EntityType.SITES]">
      <ng-container *ngTemplateOutlet="data"></ng-container>
    </ng-container>
  </li>

  <!-- PLACEMARKS -->
  <li (click)="toggleMenu(EntityType.PLACEMARKS)">

    <div class="content">
      <div class="image-and-name">
        <img src="placemark.svg" alt="placemark-icon">
        <span>Placemarks</span>
      </div>

      <div class="controls">
        <i *ngIf="!isMenuOpen[EntityType.PLACEMARKS]" class="arrow-down"></i>
        <i *ngIf="isMenuOpen[EntityType.PLACEMARKS]" class="arrow-up"></i>
      </div>
    </div>

    <!-- RESULTS CONTAINER -->
    <ng-container *ngIf="isMenuOpen[EntityType.PLACEMARKS]">
      <ng-container *ngTemplateOutlet="data"></ng-container>
    </ng-container>
  </li>

  <!-- LAYERS -->
  <li (click)="toggleMenu(EntityType.LAYERS)">

    <div class="content">
      <div class="image-and-name">
        <img src="layer.svg" alt="layer-icon">
        <span>Layers</span>
      </div>

      <div class="controls">
        <i *ngIf="!isMenuOpen[EntityType.LAYERS]" class="arrow-down"></i>
        <i *ngIf="isMenuOpen[EntityType.LAYERS]" class="arrow-up"></i>
      </div>

    </div>
    <!-- RESULTS CONTAINER -->
    <ng-container *ngIf="isMenuOpen[EntityType.LAYERS]">
      <ng-container *ngTemplateOutlet="data"></ng-container>
    </ng-container>
  </li>

</ul>


<ng-template #data>
  <ul class="entities">
    <ng-container *ngFor="let item of entities$ | async">
      <div class="image-and-name">
        @switch (item.type) {
          @case ('Layers') {
            <img src="layer.svg" alt="layer-icon">
          }
          @case ('Placemarks') {
            <img src="placemark.svg" alt="placemark-icon">
          }
          @case ('Sites') {
            <img src="site.svg" alt="site-icon">
          }
          @case ('Zones') {
            <img src="zone.svg" alt="zone-icon">
          }
        }
        <span>{{ item.subtype }}</span>
      </div>
      <ul *ngFor="let object of item.objects" class="results">
        <li class="status">
          <p>{{ object.name }}</p>
          @switch (object.status) {
            @case ('STABLE') {
              <p class="connected">Connection</p>
            }
            @case ('UNSTABLE') {
              <p class="unstable">Connection</p>
            }
            @case ('DISCONNECTED') {
              <p class="disconnected">No Connection</p>
            }
          }
        </li>
      </ul>
    </ng-container>
  </ul>
</ng-template>
